<section class="container mat-typography" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxFlex="50" fxLayoutAlign="none center" class="container-login">
    <div class="login-header">
      <span>SIGN IN</span>
    </div>
    <form
      class="login-form" fxLayout="column" fxFlex="100" fxLayoutAlign="space-around center"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="login-form-input" fxLayout="column">
        <mat-form-field>
          <mat-label class="login-form-label">LOGIN</mat-label>
          <input
            formControlName="login"
            matInput
          >
        </mat-form-field>
        <span *ngIf="login.touched && !login.valid" class="login-error">
          <span *ngIf="login.errors.required">Login is required</span>
          <span *ngIf="login.errors.minlength">Should have at least {{ login.errors.minlength.requiredLength }} charcters</span>
          <span *ngIf="login.errors.pattern">Is not a valid login</span>
        </span>
      </div>

      <div class="login-form-input" fxLayout="column">
        <mat-form-field class="login-form-input">
          <mat-label class="login-form-label">PASSWORD</mat-label>
          <input
            formControlName="password"
            type="password"
            matInput
          >
        </mat-form-field>
        <span *ngIf="password.touched && !password.valid" class="login-error">
          <span *ngIf="password.errors.required">Password is required</span>
          <span *ngIf="password.errors.minlength">Should have at least {{ password.errors.minlength.requiredLength }} charcters</span>
          <span *ngIf="password.errors.pattern">Is not a valid password</span>
        </span>
      </div>

      <button mat-button class="login-form-button">ENTER</button>
    </form>
  </div>
</section>
